.newContactModal {
  display: flex;
  position: fixed;
  background-color: #302525;
  left: auto;
  top: auto;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px #100505;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  button {
    background-color: #242020;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    color: white;
    transition: .3s;
    margin-left: 50%;
  }

  input {
    background-color: #242020;
  }

  .form {
    padding: 3rem;
  }

  button:hover {
    background-color: orange;
    color: #302525;
  }

  .btn {
    height: 2.5rem;
    width: 3.5rem;
  }
}